/* ==========================================================================
   Custom skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #494e52 !default;
$muted-text-color: #646769 !default;
$primary-color: #000a46 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #1a4a8f !default;
$masthead-link-color: #fff !default;
$masthead-link-color-hover: #fff !default;
$navicon-link-color-hover: #fff !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.masthead,
.masthead__inner-wrap,
.masthead__menu,
.greedy-nav {
  background-color: $primary-color !important;
  background: $primary-color !important;
}

.greedy-nav a::before {
  background-color: #fa6405 !important; // Change this to your desired underline color
}


.page__title a {
  color: $primary-color !important; // Different color for page titles
  text-decoration: none !important;
}
.page__title a:hover {
  color: #fa6405 !important; // Hover color
  text-decoration: none !important;
}

/* Content links use the global link color */
.page__content a {
  color: $link-color !important;
}

.page {
  margin-top: 0 !important;
  padding-top: 0 !important;
}


/* If the above doesn't work, try targeting the bars directly */
.greedy-nav__toggle div,
.greedy-nav__toggle div::before,
.greedy-nav__toggle div::after {
  background: #fff !important; // Change this to your desired color
}
